# This file is used by [direnv](https://direnv.net/), as a convenience during
# development time, only. Configurations set by this file require interctive
# confirmation from the current user and are scoped to the current directory.
# More info at (https://direnv.net/man/direnv-stdlib.1.html)
set -e
# Loads a ".env" file into the current environment
dotenv .env

# set an specific node version
use nvm

# adds ./node_modules/bin to PATH
layout node
